.wrapper{
    margin: 4rem 0rem;
}
.card{
    min-height: 14rem;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}
.card::before{
    content: '';
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.card  > img {
    border-radius: 2rem;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card > p{
    position: absolute;
    z-index:10;
    left: 50%;
    bottom: 0; 
    transform: translate(-50%, 0%);
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
