.formSearch {
    margin: 0rem 20rem; 
}
.formSearch > .formSearch_row{
    position: relative;
    width: 100%;
}
.formSearch_row > input {
    width: 100%;
    border: none;
    background: linear-gradient(35deg, #494949, #313131);
    color: white;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    outline: none;
}
.formSearch_row > svg {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(100%, -50%);
    color: white;
}